<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/forget-password-post/<%= userId %>" method="POST">
        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="New Password" required>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
        </div>
        <button type="submit" class="btn btn-primary w-25 mt-3">Submit</button>
      </form>
</body>
</html>