<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <!-- Content - Page 404 -->
        <div class="container mt-5 vh-100">
            <h1 class="text-center mb-5 text-white-50">Oops, Page Not Found!
              <hr />
            </h1>
            <div class="card mx-auto p-3" style="max-width: 600px;">
              <div class="card-body p-0">
                <div class="page404">
                  <img src="../assets/img/page404.jpg" alt="404 - Page Not Found">
                </div>
              </div>
            </div>
            <p class="page404-link text-center mt-3 small">
              OOPS! Page Not Found. Go
              <a href="/signin" class="text-decoration-underline fw-bolder">
                Sign-In
              </a>
              or
              <a href="/signup" class="text-decoration-underline fw-bolder">
                Let's Create a New Account.
              </a>
              :)
            </p>
          </div>
</body>
</html>